@media screen and (max-width:767px) {
    .nav-container {
        flex-direction: column;
        background-color: rgb(206, 152, 190);
    }
    .nav-items {
        display: block;
        text-align: center;
    }
    .navbar-btn {
        display: block;
       
    }
 }