@media screen and (max-width:575px){
    
}
@media screen and (max-width:767px) {
    .nav-logo {
        margin-top: 18px;
    }
    .banner-info {
        max-width: 100%;
        background-position: right;
     }
     .banner-img {
         width: 100%;
     }
     .banner-tittle-1 {
         font-size: 35px;
     }
     .banner-tittle-2 {
         font-size: 60px;
     }
     .gamer-container {
         flex-direction: column;
         text-align: center;
     }
     .online-game-container {
         width: 50%;
         margin: 15px auto;
         flex-direction: column;
         gap: 30px;
         align-items: center;
     }
    .nav-container {
        flex-direction: column;
        background-color: rgb(206, 152, 190);
    }
    .nav-items {
        display: block;
        text-align: center;
    }
    .navbar-btn {
        display: block;
    }
    .banner-container {
        flex-direction: column;
        flex-direction: column-reverse;
        
    }
    .banner-section {
        background: none;
    }
    .banner-info {
        width: 600px;
        margin: 10px auto;
        background-image: url('./assets/images/Group 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 15px;
    }
    .online-game-container {
        width: 100%;
        margin: 15px auto;
        flex-direction: column;
        gap: 30px;
    }
    
    .gamer-img{
        width: 100%;
        background-size: cover;
        background: no-repeat;
    }
    .offline-game-photo .main-img{
        width: 58%;
        /* position: absolute; */
    }
    .banner-section{
        padding: 0 42px 0 42px;
    }
    .banner-btn{
        font-size:13px;
    }
    .gamer-tittle{
        font-size: 39px;
    }
    #gamer-section{
        padding: 8px 40px 20px 40px;
    }
    .gamer-description{
        width: auto;
    }
    .gamer-end-tittle{
        font-size: 23px;
    }
    .game-img-description{
        text-align: center;
    }
    .online-game-description{
        font-size: 10px;
    }
    .offline-game-text {
        width: 100%;
    }
    .offline-game-container{
        flex-wrap:wrap;
    }
    .offline-game-photo {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .offline-game-tittle-1, .offline-game-tittle-2, .offilne-gamer-description{
        text-align: center;
    }
    .sub-img{
        left:12px;
    }
 }