* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
    box-sizing: border-box;
}
/* this is header section */
#header-section {

}
/* this is navbar section */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    box-shadow: 0 -12px 3px -19px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-tittle {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
}
.nav-tittle-design {
    color: #FF42A5;
}
.logo-img {
    width: 86px;
    height: 40px;
    cursor: pointer;
}
.nav-items {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    padding: 10px;
    border-radius: 8px;
}
.navbar-btn {
    padding: 16px 0px 12px 8px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    color: #3C354F;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
}
.nav-svg-img {
    width: 33.916px;
    height: 24px;
    margin-bottom: -4px;
}
.nav-menus  a:hover{
    background-color: #d83c8d;
    color: white;
    transition: 0.5s;
}
/* this is banner section */
.banner-section {
    background-image: url('./assets/images/Group 14.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 42px 0 75px;
}
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-tittle-1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.banner-tittle-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 15px;
}
.banner-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-btn { 
    border-radius: 48px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
.first-btn {
    background: #FF42A5;
}
.second-btn {
    background: #4EC5F7;
}
.first-btn:hover,.second-btn:hover,.gamer-btn:hover{
    background-color: #d83c8d;
    transition: 0.5s;
}
.banner-img {
    width: 600px;
}
/* this is gamer section */
#gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align: right;
    padding: 8px 94px 20px 40px;
}
.gamer-img {
    width: 700px;
}
.gamer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gamer-tittle {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.gamer-description {
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gamer-btn {
    background: #FF42A5;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
}
.gamer-purpose {
    color: #534C64;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.gamer-end-tittle {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}
/* this is online game section */
#online-game-section {
   padding: 51px 0 70px 0;
}
.online-game-tittle {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.online-tittle-design {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.online-game-container {
    display: flex;
    justify-content: center;
    gap:10px;
}
.online-game {
    position: relative;
  }
.online-game-img {
    width: 300px;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .online-game:hover .online-game-img {
    opacity: 0.4;
  }
  .online-game:hover .middle-text {
    opacity: 1;
  }
  .online-game-icon {
    font-size: 60px;
    color: black;
    cursor: pointer;
  }
  .img-text {
    color: red;
    font-size: 25px;
    font-weight: 800;
  }
  .game-img-description {
    width: 300px;
    margin-top: 10px;
  }